[Desktop Entry]
Type=Application
Exec=flock -n /home/angalia-hub/log/kipangaratiba.lock /home/angalia-hub/bin/start_kipangaratiba.sh
Hidden=false
NoDisplay=false
Name=Kipangaratiba Scheduler
Comment=Starts the Kipangaratiba web and worker processes
