%h2 About Kipangaratiba&trade;
%h5 Kipangaratiba&trade; is a cron-like scheduler for user graphic space
%p
  Kipangaratiba&trade; was written by David Anderson in 2025 
%p
  &emsp;
  %br
  &emsp;
  %br
  &emsp;
  %br
  %i
    Nothing more to say...
