%dl
  %dt= link_to( "sidekiq &raquo;", "/sidekiq", { :title => "sidekiq dashboard" } )
  %dt= link_to( "status &raquo;", "/status", { :title => "view system status" } )
  %dt= link_to( "testnop &raquo;", "/testnop", { :title => "schedule four nop jobs" } )

